examples/n8n/caas-workflow-example.json
{
  "name": "CAAS - Document to Markdown Conversion",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node-id",
      "name": "When cron timer triggers",
      "type": "n8n-nodes-base.Cron",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cron-webhook-id"
    },
    {
      "parameters": {
        "operation": "fromUrl",
        "url": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf",
        "options": {}
      },
      "id": "read-file-node-id",
      "name": "Read PDF from URL",
      "type": "n8n-nodes-base.ReadWriteFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/convert",
        "sendFiles": true,
        "fileKey": "file",
        "options": {
          "timeout": 30000
        }
      },
      "id": "caas-convert-node-id",
      "name": "CAAS Convert",
      "type": "n8n-nodes-base.HttpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "version": 2,
        "fields": {
          "content": {
            "mode": "name",
            "name": "markdown",
            "value": "={{ $json.result.markdown }}"
          },
          "filename": {
            "mode": "name",
            "name": "original_filename",
            "value": "={{ $json.result.filename }}"
          },
          "pages": {
            "mode": "name",
            "name": "page_count",
            "value": "={{ $json.result.pages }}"
          }
        },
        "options": {}
      },
      "id": "format-output-node-id",
      "name": "Format Output",
      "type": "n8n-nodes-base.Set",
      "typeVersion": 3.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "content": "## CAAS Conversion Workflow\n\nThis workflow demonstrates document-to-Markdown conversion via the CAAS API.\n\n### Supported Formats:\nPDF, DOCX, ODT, ODP, ODS, HTML, XLSX, PPTX\n\n### Steps:\n1. **Read PDF from URL**: Downloads a file from a URL\n2. **CAAS Convert**: Sends the file to the CAAS POST /convert endpoint\n3. **Format Output**: Extracts useful data from the JSON response",
        "height": 300,
        "width": 400
      },
      "id": "sticky-note-id",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.StickyNote",
      "typeVersion": 1,
      "position": [250, 80]
    }
  ],
  "pinData": {},
  "connections": {
    "When cron timer triggers": {
      "main": [
        [
          {
            "node": "Read PDF from URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF from URL": {
      "main": [
        [
          {
            "node": "CAAS Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAAS Convert": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceSettings": {
      "credits": {
        "consumed": 0,
        "limit": 0
      }
    }
  },
  "id": "caas-workflow-example",
  "tags": []
}
